<label>
  Name
  <input
    #control="ngModel"
    [(ngModel)]="name"
    type="text"
    required
    minlength="4"
    class="control"
  />
  <div *ngIf="control.hasError('required')">This field is Required</div>
  <div *ngIf="control.hasError('minlength')">
    This field should be longer than 4
  </div>
</label>
<label>
  Age
  <input
    #control2="ngModel"
    [(ngModel)]="age"
    type="text"
    required
    minlength="1"
    class="control"
  />
  <div *ngIf="control2.hasError('required')">This field is Required</div>
  <div *ngIf="control2.hasError('minlength')">
    This field should be longer than 1
  </div>
</label>

VS

<my-form-field>
  <label>
    Name
    <input [(ngModel)]="name" myInput type="text" required minlength="4" />
  </label>
</my-form-field>
<my-form-field>
  <label>
    Age
    <input [(ngModel)]="age" myInput type="text" required minlength="1" />
  </label>
</my-form-field>
